body {
  .wrapper {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 300px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 400px;

    .site {
      width: 442px;
      height: 248px;

      background-color: red;
      transform: rotateX(10deg) rotateY(-20deg) translateX(30px)
        translateY(50px) translateZ(40px);
      transform-origin: top;
    }
  }
}
