.wrapper {
  background-color: white;
  align-items: center;
  justify-content: center;
  font-family: sans-serif, arial;

  .backgroundVideoStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .device {
    width: 80%;
    height: 80%;
    background-color: #00000030;
    // Background blur filter
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 20px;
    perspective: 100px;

    .titleScreen {
      color: white;

      .heading {
        font-size: 70px;
        margin-bottom: 20px;
      }
      .subtitle {
        color: rgba(255, 255, 255, 0.5);
        font-size: 30px;
      }
    }

    .videoWrapper {
      overflow: hidden;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .videoScreen {
        width: 100%;
        position: relative;
      }
    }
  }
}
