.wrapper {
  .productHunt {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 999;
  }

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 20px;

    .headingWrapper {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 15px;
      margin-top: 50px;
      color: var(--bg);
      perspective: 1200px;

      .item {
        font-size: 72px;
        font-weight: 500;
      }
    }

    .demoVideo {
      margin-top: 50px;
      width: 80%;
      max-width: 900px;

      border-radius: 20px;
      overflow: hidden;
      position: relative;

      .video {
        width: 100%;
        height: 100%;
      }

      .playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        opacity: 0.9;
        z-index: 1;
        max-width: 100px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .description {
      margin-top: 40px;

      font-size: 18px;
      font-weight: normal;
      line-height: 200%;
      max-width: 600px;
      text-align: center;
      color: var(--primary-lightest);
    }

    .ctas {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .ctaBtn {
        font-size: 12px;
        padding: 12px 32px;
      }
    }
  }

  .reviews {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 32px;
    margin-top: 80px;

    .review {
      padding: 32px;
      background-color: var(--primary-light);
      border-radius: 20px;
      max-width: 300px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 24px;

      .author {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;

        .avatar {
          position: relative;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          flex-shrink: 0;
        }
        .info {
          flex: 1;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;

          .name {
          }

          .description {
            color: var(--primary-lightest);
          }
        }
      }

      .content {
        font-size: 16px;
        font-weight: normal;
        line-height: 170%;
        color: var(--primary-lightest);
      }
    }
  }

  .features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    gap: 50px;
    margin-top: 80px;

    .feature {
      padding: 32px;
      border-radius: 20px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 64px;

      &.odd {
        flex-direction: row-reverse;
      }

      .info {
        min-width: 200px;
        max-width: 500px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;

        .heading {
          h2 {
            font-size: 48px;
            font-weight: 500;

            &:last-child {
              color: var(--secondary);
              margin-top: -20px;
              margin-bottom: 10px;
            }
          }

          &.colored {
            color: var(--secondary);
          }
        }
      }
      .description {
        color: var(--primary-lightest);
        font-weight: normal;
        font-size: 16px;
        line-height: 180%;
      }

      .image {
        width: 400px;
        height: 300px;
        flex-shrink: 0;

        position: relative;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }

  .ctaBanner {
    background-image: url("/assets/images/footer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 50px;

    padding: 100px 10px;
    border-radius: 40px 40px 0 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;

    .heading {
      font-size: 48px;
      font-weight: 500;
      max-width: 700px;
    }

    .description {
      font-size: 16px;
      font-weight: normal;
      line-height: 180%;
      color: var(--primary-lightest);
      max-width: 600px;
    }

    .ctaBtn {
      font-size: 14px;
      padding: 12px 32px;
    }
  }
}
