.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .loadingText {
    text-transform: uppercase;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20vw;
  }
}
