.wrapper {
  z-index: 100;
  position: absolute;
  cursor: default;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(3px);
  }

  .modalParent {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    top: 60%;
    left: 50%;

    .rightButtons {
      margin-left: auto;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg);
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
        font-size: 25px;

        color: rgb(255, 140, 140);
      }
    }

    .modal {
      background-color: var(--primary);

      min-width: 300px;
      min-height: 150px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0px 0px 100px var(--primary-light);
    }
  }
}
