.wrapper {
  .overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
  .content {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 500px;
    min-height: 100px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
  }
}
