.backBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .content {
    text-align: center;
    font-size: 18px;
  }
}
